body {
    background: url('/images/bg-pattern.jpg')  repeat;
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    /*background-color: #464646;*/
}

a.nav-link {
    color: var(--bs-green);
    text-decoration: none;
}

a.nav-item:hover {
    color: rgba(25, 135, 84, 0.77);
}

.form-container {
    max-width: 400px;
}

.bg-white-opacity-90 {
    background-color: rgba(255,255,255,.90);
}

.max-width-400 {
    max-width: 400px;
}

.max-width-600 {
    max-width: 600px;
}
