<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="head">
    <meta charset="UTF-8">
    <!--    to enable touch zoom on mobile devices and proper rendering   -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Explorer</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <!--    <script src="/js/jquery-3.5.1.slim.min.js"></script>-->
    <script src="/js/bootstrap.bundle.js"></script>
    <!--    <script src="/js/bootstrap.js"></script>-->

</head>
<body>


<header th:fragment="header-nav">
    <nav class="bg-light text-center fs-5 mb-5 p-2">
        <ul class="container-fluid row justify-content-around mb-0">

            <!--            Home    -->
            <li class="nav-item col-lg">
                <a class="nav-link d-inline" th:href="@{/}"
                   th:text="#{nav_bar_home}"
                >
                    Home
                </a>
            </li>
            <th:block sec:authorize="!isAuthenticated()">

                <!--                Login   -->
                <li class="nav-item col-lg">
                    <a class="nav-link d-inline" th:href="@{/users/login}"
                       th:text="#{nav_bar_login}"
                    >
                        Login
                    </a>
                </li>

                <!--                Register    -->
                <li class="nav-item col-lg">
                    <a class="nav-link d-inline" th:href="@{/users/register}"
                       th:text="#{nav_bar_register}"
                    >
                        Register
                    </a>
                </li>

                <!--                About   -->
                <li class="nav-item col-lg">
                    <a class="nav-link d-inline" th:href="@{/about}"
                       th:text="#{nav_bar_about}"
                    >
                        About
                    </a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">

                <!--                Recipes dropdown    -->
                <!--                TODO: at sm breakpoint show dropdown as rows    -->
                <li class="nav-item drop-down col-lg">
                    <a href="#"
                       id="recipesDropdown"
                       class="nav-link dropdown-toggle d-inline"
                       data-bs-toggle="dropdown"
                       th:text="#{nav_bar_recipes}"
                    >
                        Recipes
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="recipesDropdown"
                        aria-expanded="false"
                    >
                        <li>
                            <a th:href="@{/recipes/add}" class="dropdown-item"
                               th:text="#{nav_bar_add}"
                            >
                                Add
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/recipes/all}" class="dropdown-item"
                               th:text="#{nav_bar_browse}"
                            >
                                Browse
                            </a>
                        </li>
                    </ul>
                </li>

                <!--                Ingredients dropdown    -->
                <!--                TODO: at sm breakpoint show dropdown as rows    -->

                <li class="nav-item drop-down col-lg">
                    <a href="#"
                       id="ingredientsDropdown"
                       class="nav-link dropdown-toggle d-inline"
                       data-bs-toggle="dropdown"
                       th:text="#{nav_bar_ingredients}"
                    >
                        Ingredients
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="ingredientsDropdown"
                        aria-expanded="false"
                    >
                        <li>
                            <a th:href="@{/ingredients/add}" class="dropdown-item"
                               th:text="#{nav_bar_add}"
                            >
                                Add
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/ingredients/all}" class="dropdown-item"
                               th:text="#{nav_bar_browse}"
                            >
                                Browse
                            </a>
                        </li>
                    </ul>
                </li>

                <!--                Profile -->

                <li class="nav-item col-lg">
                    <a th:href="@{/users/profile}" class="nav-link d-inline"
                       th:text="#{nav_bar_profile}"
                    >
                        Profile
                    </a>
                </li>

                <!--                Admin dropdown   -->
                <!--                TODO: at sm breakpoint show dropdown as rows    -->
                <li sec:authorize="hasRole('ROLE_ADMIN')"
                    class="nav-item drop-down col-lg">
                    <a href="#"
                       id="adminDropdown"
                       class="nav-link dropdown-toggle d-inline"
                       data-bs-toggle="dropdown"
                       th:text="#{nav_bar_admin}"
                    >
                        Admin
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="adminDropdown"
                        aria-expanded="false"
                    >
                        <li>
                            <a th:href="@{/admin/action}" class="dropdown-item"
                               th:text="#{nav_bar_admin_action}"
                            >
                                Action
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/another-action}" class="dropdown-item"
                               th:text="#{nav_bar_admin_other_action}"
                            >
                                Another action
                            </a>
                        </li>
                    </ul>
                </li>

                <!--                Logout  -->
                <li class="nav-item col-lg order-last">
                    <form th:action="@{/users/logout}"
                          th:method="POST"
                    >
                        <button type="submit" class="nav-link btn  d-inline"
                                th:text="#{nav_bar_logout}"
                        >
                            Logout
                        </button>
                    </form>

                </li>

            </th:block>

            <!--            Locale change   -->
            <li class="nav-item col-lg">
                <form th:method="GET" class="d-inline-block">
                    <input type="hidden"
                           name="lang"
                           value="en_US"
                    >
                    <button type="submit"
                            class="nav-link btn d-inline-block"
                            th:classappend="${#locale.toString() == 'en_US'} ? 'text-decoration-underline'"
                    >
                        EN
                    </button>
                </form>
                |
                <form th:method="GET" class="d-inline-block">
                    <input type="hidden"
                           name="lang"
                           value="bg_BG"
                    >
                    <button type="submit"
                            class="nav-link btn d-inline-block"
                            th:classappend="${#locale.toString() == 'bg_BG'} ? 'text-decoration-underline'"
                    >
                        BG
                    </button>
                </form>
            </li>

        </ul>
    </nav>

</header>

</body>
</html>