<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="head">
    <meta charset="UTF-8">
    <!--    to enable touch zoom on mobile devices and proper rendering   -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Explorer</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <!--    <script src="/js/jquery-3.5.1.slim.min.js"></script>-->
    <script src="/js/bootstrap.js"></script>
</head>
<body>


<header th:fragment="header-nav">
    <nav class="navbar bg-light text-center text-uppercase fw-bold fs-5 mb-5">
        <ul class="container-fluid row justify-content-around mb-0">
            <li class="nav-item col-sm">
                <a class="nav-link " th:href="@{/}">Home</a>
            </li>
            <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item col-sm">
                    <a class="nav-link " th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item col-sm">
                    <a class="nav-link " th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item col-sm">
                    <a class="nav-link " th:href="@{/about}">About</a>
                </li>
            </th:block>
            <th:block>
                <li class="nav-item drop-down col-sm">
                    <a th:href="@{/recipe}" class="nav-link"></a>
                </li>
            </th:block>
        </ul>
    </nav>
    
</header>

</body>
</html>