<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}">
</header>

<div class="container gx-2">
    <div class="row justify-content-center">
        <div class="mb-3 col-xl-4 col-12">
            <div class="h-100 max-width-400 mx-auto bg-white-opacity-90 rounded-4 text-center p-2 align-content-center">
                <h4>Lorem ipsum dolor</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Pharetra
                    convallis posuere morbi leo urna. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.
                    Fusce ut placerat orci nulla pellentesque dignissim enim.
                </p>
                <h4>Lorem ipsum dolor</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Pharetra
                    convallis posuere morbi leo urna. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.

                </p>
            </div>
        </div>

        <div class="mb-3 max-width-400 col-xl-4 col-12 order-xl-first text-center">

            <img src="/images/pexels-katerina-holmes-5908232.jpg" alt=""
                 class="img-fluid rounded-4"
            >
        </div>

        <div class="mb-3 max-width-400 col-xl-4 col-12 order-xl-last text-center">
            <img src="/images/pexels-shvets-production-7525196.jpg" alt=""
                 class="img-fluid rounded-4"
            >
        </div>
    </div>
</div>

</body>
</html>