<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}">
</header>

<div class="form-container container bg-white-opacity-90 px-5 py-4 rounded-4">

    <h3 class="text-center mb-4">Registration:</h3>

    <form th:action="@{/users/register}"
          th:method="post"
          th:object="${registerData}"
    >
        <div class="mb-3">
            <label for="inputUsername"
                   class="form-label h5"
            >
                Username
            </label>

<!--            required minlength="3" maxlength="15"   -->
            <input th:field="*{username}"
                   name="username"
                   type="text"
                   id="inputUsername"
                   class="form-control"
                   th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
            <small th:errors="*{username}"
                   id="usernameError"
                   class="invalid-feedback text-danger"
            >
                Username length must be more than 3 characters
            </small>
        </div>
        <!--                        <small id="usernameUniqueError"-->
        <!--                               class=" bg-danger rounded">Username is already occupied</small>-->
        <div class="mb-3">
            <label for="firstName"
                   class="form-label h5"
            >
                First Name
            </label>

<!--            required minlength="2" maxlength="20"   -->
            <input th:field="*{firstName}"
                   name="firstName"
                   type="text"
                   id="firstName"
                   class="form-control"
                   th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
            <small th:errors="*{firstName}"
                   id="firstNameError"
                   class="invalid-feedback text-danger"
            >
                First name length must be more than 3 characters
            </small>
        </div>

        <div class="mb-3">
            <label for="lastName"
                   class="form-label h5"
            >
                Last Name
            </label>

            <!--            required minlength="2" maxlength="20"-->
            <input th:field="*{lastName}"
                   name="lastName"
                   type="text"
                   id="lastName"
                   class="form-control"
                   th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
            <small th:errors="*{lastName}"
                   id="lastNameError"
                   class="invalid-feedback text-danger"
            >
                First name length must be more than 3 characters
            </small>
        </div>

        <div class="mb-3">
            <label for="email"
                   class="form-label h5"
            >
                Email
            </label>

<!--            required-->
            <input th:field="*{email}"
                   name="email"
                   type="email"
                   id="email"
                   class="form-control"
                   th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
            <small th:errors="*{email}"
                   id="emailError"
                   class="invalid-feedback text-danger"
            >
                Must be valid email
            </small>
        </div>

        <div class="mb-3">
            <label for="password"
                   class="form-label h5"
            >
                Password
            </label>

<!--            required minlength="5" maxlength="20"-->
            <input th:field="*{password}"
                   name="password"
                   type="password"
                   id="password"
                   class="form-control"
                   th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
        </div>

        <div class="mb-4">
            <label for="confirmPassword"
                   class="form-label h5"
            >
                Confirm Password
            </label>

<!--            required minlength="5" maxlength="20"   -->
            <input th:field="*{confirmPassword}"
                   name="confirmPassword"
                   type="password"
                   id="confirmPassword"
                   class="form-control"
                   th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
            <!--            TODO: here or after confirmPassword, handling of mismatch -->
            <small th:errors="*{password}"
                   id="passwordError"
                   class="invalid-feedback text-danger"
            >
                Password length must be between 5 and 20 characters and passwords should match.
            </small>
            <small th:if="${#fields.hasGlobalErrors()}"
                   class="text-danger"
                   th:text="#{user.register.password.mismatch}"
            >
                Password length must be between 5 and 20 characters and passwords should match.
            </small>
        </div>

        <div class=" text-center">
            <button type="submit"
                    class="btn btn-primary w-100 fw-bold text-uppercase"
            >
                Register
            </button>
        </div>
    </form>
</div>
</body>
</html>