<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}">
</header>

<div class="form-container container bg-white-opacity-90 px-5 py-4 rounded-4">

    <h3 class="text-center"
        th:text="#{user_login_form_title}"
    >
        Login:
    </h3>

    <form th:action="@{/users/login}"
          th:method="POST"
    >
        <div class="mb-3">
            <div th:if="${isUsernameChanged}"
                 class="fw-bold text-danger text-center mb-2"
                 th:text="#{user_login_form_username_changed}"
            >
                Username has been changed!
            </div>
            <label for="username"
                   class="form-label h5"
                   th:text="#{user_login_form_label_username}"
            >
                Username
            </label>

            <input id="username"
                   name="username"
                   required minlength="3" maxlength="15"
                   type="text"
                   class="form-control"
                   th:classappend="${error} ? 'bg-danger is-invalid bg-opacity-50'"
            >
        </div>
        <div class="mb-3">
            <label for="password"
                   class="form-label h5"
                   th:text="#{user_login_form_label_password}"
            >
                Password
            </label>

            <input id="password"
                   name="password"
                   required minlength="5" maxlength="20"
                   type="password"
                   class="form-control"
                   th:classappend="${error} ? 'bg-danger is-invalid bg-opacity-50'"
            >
        </div>
        <div th:if="${error}" class="text-center mb-3">
            <small th:text="#{user_login_form_error}"
                   class="text-danger"
            >
                Error message!
            </small>
        </div>
        <div class="mb-auto">
            <button type="submit"
                    class="btn btn-primary w-100 fw-bold text-uppercase"
                    th:text="#{user_login_form_submit}"
            >
                Login
            </button>
        </div>

    </form>
</div>

</body>
</html>