<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}">

</header>

<div class="rounded-4 max-width-600 mx-auto bg-white-opacity-90 p-5 text-center mt-5 fs-5">
    <h4 class="mb-4 ">Welcome to Recipe Explorer!</h4>
    <p class="fst-italic mb-4">
        A place for users to share their favourite recipes.
        Recipes are organized by dietary preferences and meal types. They can be commented and rated.
        Different ingredients can be added for each recipe.
    </p>
    <p class="mb-0">
        If you haven't got an account please proceed to the
        <a th:href="@{/users/register}"
           class="link"
        >
            registration page</a> !
    </p>
</div>

</body>
</html>