<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}"></header>

<div class="container bg-white-opacity-90 p-5 rounded-4">

    <h3 class="text-center"
        th:text="#{ingredient_add_form_title}"
    >
        Add Ingredient:
    </h3>

    <form th:action="@{/ingredients/add}"
          th:method="post"
          th:object="${ingredientAddData}"
    >
        <div class="mb-3">
            <label for="name"
                   class="form-label h5"
                   th:text="#{ingredient_add_form_label_name}"
            >
                Name
            </label>

            <input th:field="*{name}"
                   name="name"
                   type="text"
                   required minlength="3" maxlength="20"
                   id="name"
                   class="form-control"
                   th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
            <small th:errors="*{name}"
                   id="nameError"
                   class="invalid-feedback text-danger "
            >
                Name must be between 3 and 20 characters!
            </small>
        </div>

        <div class="mb-3">
            <label for="type"
                   class="form-label h5"
                   th:text="#{ingredient_add_form_label_ingredient_type}"
            >
                Ingredient Type
            </label>

            <select th:field="*{type}"
                    name="type"
                    id="type"
                    required
                    class="form-select"
                    th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
                <option value="" selected>Select ingredient type</option>
                <option th:each="ingType : ${ingredientTypes}"
                        th:value="${ingType.getKey()}"
                        th:text="${ingType.getValue()}"
                >
                    Select ingredient type
                </option>
            </select>
            <small th:errors="*{type}"
                   id="typeError"
                   class="invalid-feedback text-danger"
            >
                Must select valid ingredient type!
            </small>

        </div>

        <div class="mb-3">
            <label for="unit"
                   class="form-label h5"
                   th:text="#{ingredient_add_form_label_unit_type}"
            >
                Unit
            </label>


            <select th:field="*{unit}"
                    name="unit"
                    id="unit"
                    required
                    class="form-select"
                    th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
                <option value="" selected>Select measurement unit</option>
                <option th:each="unitType : ${unitTypes}"
                        th:value="${unitType}"
                        th:text="${unitType}"
                >
                    Select ingredient type
                </option>
            </select>
            <small th:errors="*{unit}"
                   id="unitError"
                   class="invalid-feedback text-danger"
            >
                Must select valid unit type!
            </small>

        </div>

        <div class="mb-3">
            <label for="description"
                   class="form-label h5"
                   th:text="#{ingredient_add_form_label_description}"
            >
                Description
            </label>

            <textarea th:field="*{description}"
                      name="description"
                      rows="6"
                      type="textarea"
                      required minlength="30"
                      id="description"
                      class="form-control"
                      th:errorclass="'bg-danger is-invalid bg-opacity-50'"
            >
            </textarea>
            <small th:errors="*{description}"
                   id="descriptionError"
                   class="invalid-feedback text-danger"
            >
                Name must be at least 30 characters long!
            </small>
        </div>

        <div class="d-flex mt-5 justify-content-center">
            <button type="submit"
                    class="btn btn-primary w-50 text-uppercase fw-bold"
                    th:text="#{ingredient_add_form_submit}"
            >
                Add Ingredient
            </button>
        </div>

    </form>
</div>

</body>
</html>