<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}"></header>

<div class="container-md">
    <!--    Ing Details    -->
    <div class="row row-gap-3 ">
        <div class="card card-width mx-auto p-1"
             th:each="ing : ${all}"
             th:object="${ing}"
        >
            <img src="/images/default-image.jpg" class="card-img-top" alt="ingredient image">
            <div class="card-body">
                <h5 th:text="*{name}"
                    class="card-title"
                >
                    Card title
                </h5>
                <p th:text="*{description}"
                   class="card-text card-text-improved overflow-hidden"
                >
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a th:href="@{/ingredients/{id}(id=*{id})}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>


</div>

</body>
</html>