<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}"></header>

<div class="container-md max-width-600"
     th:object="${ingredient}"
>
    <div class="row g-3 ">
        <div class="mb-3 align-content-center">
            <!--                TODO: Carousel    -->
            <img th:src="@{/images/default-image.jpg}"
                 alt="Recipe Image"
                 class="img-fluid d-block mx-auto rounded-4"
            >
        </div>
        <div class=" flex-column align-content-center">
            <div class="bg-light rounded-4 p-3 mb-3">
                <h5 th:text="*{name}"
                    class="mb-3"
                >
                    Name
                </h5>
                <p>
                    <span th:text="#{common_unit}"></span>: <span th:text="*{unit}"></span>
                </p>
                <p>
                    <span th:text="#{common_ingredient_type}"></span>: <span th:text="*{type}"></span>
                </p>
                <p class="mb-0">
                    <span th:text="#{common_added_by}">
                        added by
                    </span>
                    <span> : </span>
                    <a th:href="@{/users/{u}(u=*{addedByUsername})}"
                       th:text="*{addedByUsername}"
                       class="link-dark"
                    >
                        username
                    </a>
                </p>
            </div>
            <div class="bg-light rounded-4 p-3 mb-3">
                <h5 class="mb-3"
                    th:text="#{common_description}"
                >
                    Description:
                </h5>
                <p th:text="*{description}"
                   class="mb-0"
                >
                    desc....
                </p>
            </div>
        </div>
    </div>
    <!--    TODO: buttons edit/delete/approve-->

    <div class="bg-light rounded-4 p-3 mb-3">
        <h5 th:text="${ingRecipes.isEmpty()} ? 'There are no recipes with this ingredient.' : 'Recipes with ingredient:'">
            Ingredient Recipes:
        </h5>

        <th:block th:each="r : ${ingRecipes}"
                  th:object="${r}"
        >
            <div class="row mb-3">
                <div class="col-10">
                        <span th:text="*{name}"
                              class="align-text-top"
                        >
                            Recipe name
                        </span>
                </div>
                <div class="col-2 text-center">
                    <a th:href="@{/recipes/{id}(id=*{id})}"
                       class="btn btn-primary btn-sm"
                    >
                        Details
                    </a>
                </div>
            </div>

        </th:block>
    </div>

</div>

</body>
</html>