<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}"></header>

<div class="container"
     th:object="${recipe}"
>
    <!--        Top container -->
    <div class="container-lg">
        <div class="row">
            <!--            Image top-left container -->
            <div class="col-xl-7 mb-3 align-content-center">
                <!--               TODO: Carousel    -->
                <img th:src="@{/images/default-image.jpg}"
                     alt="Recipe Image"
                     class="img-fluid d-block mx-auto rounded-4"
                >
            </div>

            <!--            Top-right container -->

            <div class="col-xl-5 flex-column align-content-center">

                <!--                Top recipe info    -->

                <div class="bg-light rounded-4 p-3 mb-3">
                    <h5 th:text="*{name}"
                        class="mb-3"
                    >
                        Recipe name
                    </h5>
                    <div class="row">
                        <div class="col-sm-8 mb-3">
                            <p><span th:text="#{common_added_by}"></span>: <span th:text="*{authorUsername}"></span></p>
                            <p>
                                <span th:text="#{common_created_on}"></span>:
                                <span th:text="${#temporals.format(recipe.createdOn, 'dd MMM yyyy HH:mm')}">
                            dd MMM yyyy HH:mm
                        </span>
                            </p>
                            <p class="mb-0"
                            >
                                <span th:text="#{common_modified_on}"></span>:
                                <span th:text="${#temporals.format(recipe.modifiedOn, 'dd MMM yyyy HH:mm')}">
                            dd MMM yyyy HH:mm
                        </span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <form th:action="@{/recipes/{id}/edit(id=*{id})}"
                                  th:method="GET"
                                  class="text-center d-inline-block d-sm-block"
                            >
                                <button type="submit"
                                        class="btn btn-sm btn-outline-primary mb-2"
                                        th:text="#{common_edit}"
                                >
                                    Edit
                                </button>
                            </form>
                            <form th:action="@{/recipes/{id}(id=*{id})}"
                                  th:method="DELETE"
                                  class="text-center d-inline-block d-sm-block"
                            >
                                <button type="submit"
                                        class="btn btn-sm btn-outline-danger mb-2"
                                        th:text="#{common_delete}"
                                >
                                    Delete
                                </button>
                            </form>

                            <!--                            TODO: approve   -->
                            <!--                            <form th:action="@{/recipes/{id}/approve(id=*{id})}"-->
                            <!--                                  th:method="PATCH"-->
                            <!--                                  class="text-center d-inline-block d-sm-block"-->
                            <!--                            >-->
                            <!--                                <button type="submit"-->
                            <!--                                        class="btn btn-sm btn-outline-success mb-2"-->
                            <!--                                        th:text="#{common_approve}"-->
                            <!--                                >-->
                            <!--                                    Approve-->
                            <!--                                </button>-->
                            <!--                            </form>-->
                        </div>
                    </div>
                </div>

                <!--                Middle: Rating, Meal Type and  Dietary preferences-->

                <div class="bg-light rounded-4 p-3 mb-3">

                    <!--                    Rating Section-->

                    <div class="h5 mb-3">
                        <div class="mb-2">
                            <span th:text="#{common_rating}"></span>:
                            <span th:text="*{averageRating != null || averageRating == 0}
                            ? ${#numbers.formatDecimal(recipe.averageRating, 1, 1, 'POINT')} : #{common_ratings_na}">
                                N/A
                            </span>
                        </div>
                        <form th:action="@{/ratings/add}"
                              th:method="PUT"
                        >
                            <input type="hidden"
                                   id="ratingHidden"
                                   th:field="${userRating.recipeId}"
                                   th:value="*{id}"
                            >
                            <label for="rating" class="visually-hidden"></label>
                            <select id="rating"
                                    class="form-select-sm"
                                    th:field="${userRating.rating}"
                                    th:errorclass="'bg-danger is-invalid bg-opacity-75'"
                            >
                                <option th:selected="${userRating.rating == null}"
                                        value=""
                                >
                                    Rate:
                                </option>
                                <option th:each="r : ${ratings}"
                                        th:value="${r}"
                                        th:text="${r}"
                                        class="d-inline-block"
                                        th:selected="${r == userRating.rating}"
                                >
                                    Rate
                                </option>
                            </select>
                            <button type="submit"
                                    class="btn btn-sm btn-outline-primary"
                            >
                                Rate
                            </button>
                        </form>
                    </div>

                    <!--                    Meal Type -->

                    <h6 th:text="#{common_meal_type}">
                        Meal type:
                    </h6>
                    <p th:text="*{mealType}"></p>

                    <!--                    Dietary Preferences -->

                    <h6 th:text="#{common_dietary_preferences}">
                        Dietary preferences:
                    </h6>
                    <p th:text="${#strings.listJoin(recipe.dietaryTypes, ', ')}"
                       class="mb-0"
                    >
                        Diets....
                    </p>
                </div>

                <!--                Bottom Ingredients -->

                <div class="bg-light rounded-4 p-3 mb-3">
                    <h5 class="mb-3"
                        th:text="#{common_ingredients}"
                    >
                        Ingredients:
                    </h5>
                    <p th:text="${#strings.listJoin(recipe.ingredientNames, ', ')}"
                       class="mb-0"
                    >
                        Ingredients....
                    </p>
                </div>
            </div>
        </div>


        <!--            Instructions Row -->

        <div class="bg-light rounded-4 p-4 mb-3">
            <h5 class="mb-3"
                th:text="#{common_instructions}">
                Instructions:
            </h5>
            <p th:text="*{instructions}"
               class="fs-5"
            >
                Instructions here...
            </p>
        </div>


        <!--        Comments -->

        <!--        Comment Post Form   -->

        <div class="bg-light rounded-4 p-4 mb-3 container">
            <form th:if="${editComment.message == null}"
                  th:action="@{/comments/recipe/{id}(id=*{id})}"
                  th:method="POST"

            >
                <label for="message"
                       class="mb-3 h5 d-block"
                >
                    Post comment:
                </label>


                <textarea id="message"
                          name="message"
                          class="d-block mb-3 form-text fs-5 mw-100"
                          rows="4"
                          cols="80"
                >

                </textarea>

                <button type="submit"
                        class="btn btn-primary text-uppercase fw-bold"
                >
                    Post
                </button>
            </form>

            <form th:if="${editComment.message != null}"
                  th:action="@{/comments/{id}(id=${editComment.id})}"
                  th:method="PUT"

            >
                <label for="editCommentMessage"
                       class="mb-3 h5 d-block"
                >
                    Edit comment:
                </label>


                <textarea id="editCommentMessage"
                          name="message"
                          th:field="${editComment.message}"
                          class="d-block mb-3 form-text fs-5 mw-100"
                          rows="4"
                          cols="80"
                >

                </textarea>

                <button type="submit"
                        class="btn btn-primary text-uppercase fw-bold"
                >
                    Update
                </button>
            </form>
        </div>

        <!--        Comments -->

        <div class="bg-light rounded-4 p-4 mb-3 container">

            <h5 class="mb-3">
                Comments:
            </h5>

            <th:block th:each="c : ${comments}">

                <div th:if="${c.approved == true
                            || #authorization.expression('hasAnyRole(''ADMIN'', ''MODERATOR'')')
                            || #authentication.name == c.username}"
                >

                    <figure>
                        <blockquote class="blockquote mb-4">
                            <p class="fs-5"
                               th:text="${c.message}"
                            >
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Tempor lacinia ad montes mattis
                                varius
                                suspendisse class nulla consequat. Justo lacus consequat erat leo feugiat aliquam
                                curabitur.
                                Lectus sit finibus lectus lorem ac sagittis. Aliquet class primis ridiculus pharetra
                                justo
                                primis est. Aliquam ac porta metus volutpat tincidunt dignissim.
                            </p>

                        </blockquote>
                        <figcaption class="blockquote-footer fs-5"
                                    th:text="|By: ${c.username}, modified on: ${#temporals.format(c.modifiedOn,'dd MMM yyyy HH:mm')}|"
                        >
                            username on date
                        </figcaption>
                        <div>
                            <div th:if="${c.approved == false && c.username == #authentication.name}"
                                 class="d-inline-block me-2"
                            >
                                <button class="disabled btn btn-sm btn-outline-dark">Not Approved</button>
                            </div>

                            <form th:action="@{/comments/{id}/approve(id=${c.id})}"
                                  th:method="PATCH"
                                  class="d-inline-block me-2"
                                  th:if="${#authorization.expression('hasAnyRole(''ADMIN'', ''MODERATOR'')') && !c.approved}"
                            >
                                <button type="submit"
                                        class="btn btn-sm btn-outline-success"
                                >
                                    Approve
                                </button>
                            </form>

                            <form th:action="@{/comments/{id}(id=${c.id})}"
                                  th:method="GET"
                                  class="d-inline-block me-2"
                                  th:if="${c.username == #authentication.name}"
                            >
                                <button type="submit"
                                        class="btn btn-sm btn-outline-primary"
                                >
                                    Edit
                                </button>
                            </form>
                            <form th:action="@{/comments/{id}(id=${c.id})}"
                                  th:method="DELETE"
                                  class="d-inline-block me-2"
                                  th:if="${(#authorization.expression('hasAnyRole(''ADMIN'', ''MODERATOR'')') && !c.approved)
                                  || c.username == #authentication.name}"
                            >
                                <button type="submit"
                                        class="btn btn-sm btn-outline-danger"
                                >
                                    Delete
                                </button>
                            </form>
                        </div>
                    </figure>
                </div>
            </th:block>

        </div>

    </div>

</div>

</body>
</html>