<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}"></header>

<div class="container"
     th:object="${recipe}"
>
    <div class="container-lg">
        <div class="row">
            <div class="col-xl-7 mb-3 align-content-center">
                <!--               TODO: Carousel    -->
                <img th:src="@{/images/default-image.jpg}"
                     alt="Recipe Image"
                     class="img-fluid d-block mx-auto rounded-4"
                >
            </div>
            <div class="col-xl-5 flex-column align-content-center">
                <!--                General info    -->
                <div class="bg-light rounded-4 p-3 mb-3">
                    <h5 th:text="*{name}"
                        class="mb-3"
                    >
                        Recipe name
                    </h5>
                    <p><span th:text="#{common_added_by}"></span>: <span th:text="*{authorUsername}"></span></p>
                    <p>
                        <span th:text="#{common_created_on}"></span>:
                        <span th:text="${#temporals.format(recipe.createdOn, 'dd MMM yyyy HH:mm')}">
                            dd MMM yyyy HH:mm
                        </span>
                    </p>
                    <p class="mb-0"
                    >
                        <span th:text="#{common_modified_on}"></span>:
                        <span th:text="${#temporals.format(recipe.modifiedOn, 'dd MMM yyyy HH:mm')}">
                            dd MMM yyyy HH:mm
                        </span>
                    </p>
                </div>
                <div class="bg-light rounded-4 p-3 mb-3">
                    <div class="h5 mb-3">
                        <div class="mb-2">
                            <span th:text="#{common_rating}"></span>:
                            <span th:text="*{averageRating != null} ? *{averageRating} : _">N/A</span>
                        </div>
                        <form th:action="@{/ratings/add}"
                              th:method="PUT"
                        >
                            <input type="hidden"
                                   id="ratingHidden"
                                   th:field="${userRating.recipeId}"
                                   th:value="*{id}"
                            >
                            <label for="rating" class="visually-hidden"></label>
                            <select id="rating"
                                    class="form-select-sm"
                                    th:field="${userRating.rating}"
                                    th:errorclass="'bg-danger is-invalid bg-opacity-75'"
                            >
                                <option th:selected="${userRating.rating == null}"
                                        value=""
                                >
                                    Rate:
                                </option>
                                <option th:each="r : ${ratings}"
                                        th:value="${r}"
                                        th:text="${r}"
                                        class="d-inline-block"
                                        th:selected="${r == userRating.rating}"
                                >
                                    Rate
                                </option>
                            </select>
                            <button type="submit"
                                    class="btn btn-sm btn-outline-primary"
                            >
                                Rate
                            </button>
                        </form>
                    </div>
                    <h6 th:text="#{common_meal_type}">
                        Meal type:
                    </h6>
                    <p th:text="*{mealType}"></p>
                    <h6 th:text="#{common_dietary_preferences}">
                        Dietary preferences:
                    </h6>
                    <p th:text="${#strings.listJoin(recipe.dietaryTypes, ', ')}"
                       class="mb-0"
                    >
                        Diets....
                    </p>
                </div>
                <div class="bg-light rounded-4 p-3 mb-3">
                    <h5 class="mb-3"
                        th:text="#{common_ingredients}"
                    >
                        Ingredients:
                    </h5>
                    <p th:text="${#strings.listJoin(recipe.ingredientNames, ', ')}"
                       class="mb-0"
                    >
                        Ingredients....
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--            Instructions -->
            <div class="col-12">
                <div class="bg-light rounded-4 p-3 mb-3">
                    <h5 class="mb-3"
                        th:text="#{common_instructions}">
                        Instructions:
                    </h5>
                    <p th:text="*{instructions}">
                        Instructions here...
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!--    TODO: buttons edit/delete/approve-->
</div>

</body>
</html>