<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{fragments/commons::header-nav}"></header>

<div class="container max-width-600"
     th:object="${userData}"
>
    <div class="row g-3 ">
        <div class="mb-3 align-content-center">
            <img th:src="@{/images/default-image.jpg}"
                 alt="Recipe Image"
                 class="img-fluid d-block mx-auto rounded-4"
            >
        </div>
        <div class="bg-light rounded-4 p-3 mb-3">
            <div class="mb-3 d-flex"
            >
                <div class="d-inline-block align-items h5">
                    <span class="ali">
                        Username:
                    </span>
                    <span th:if="${#authentication.getName() != userData.getUsername()}"
                          th:text="*{username}"
                          class="align-middle">
                        username
                    </span>
                </div>
                <form th:if="${#authentication.getName() == userData.getUsername()}"
                      th:action="@{/users/profile/username}"
                      th:method="PATCH"
                      class="d-inline-block ms-4"
                >
                    <div class="input-group input-group-sm">
                        <input type="text"
                               th:field="${usernameData.username}"
                               th:placeholder="${userData.getUsername()}"
                               aria-label="username"
                               aria-describedby="button-addon2"
                               class="form-control"
                               th:errorclass="is-invalid"
                        >
                        <button class="btn btn-outline-danger"
                                type="submit"
                                id="button-addon2">
                            Change
                        </button>
                    </div>
                </form>
            </div>
            <p>
                <small th:errors="${usernameData.username}"
                       class="text-danger"
                >
                    Username errors!
                </small>
            </p>

            <p>
                <span>Full Name: </span><span th:text="*{getFullName()}">Full Name</span>
            </p>
            <p>
                <span>Email: </span>
                <a th:href="@{mailto:{email}(email=*{email})}"
                   th:text="*{email}"
                   class="link-dark"
                >
                    email
                </a>
            </p>
            <!--            TODO: show user roles and allow admins to set roles for users   -->
            <p>
                <span>Roles : </span>
                <span th:text="${#strings.listJoin(userData.roleNames, ', ')}">roles</span>
            </p>
            <form th:action="@{/users/{username}/grant(username = *{username})}"
                  th:method="PATCH"
                  th:if="${#authorization.expression('hasAnyRole(''ADMIN'')') && #authentication.getName() != userData.username} "

            >
                <label for="roleSelect" class="visually-hidden"></label>
                <select id="roleSelect"
                        class="form-select-sm"
                        th:field="${selectedRole.name}"
                        name="selectedRole"
                        th:errorclass="'bg-danger is-invalid bg-opacity-75'"
                >
                    <option value="">Select role:</option>
                    <option th:each="r : ${roles}"
                            th:text="${r}"
                            th:value="${r}"
                            th:if="${r.name()} != 'USER'"
                    >

                    </option>
                </select>
                <button type="submit"
                        class="btn btn-sm btn-outline-success ms-2"
                >
                    Grant
                </button>
                <button type="submit"
                        th:formaction="@{/users/{username}/revoke(username=*{username})}"
                        class="btn btn-sm btn-outline-danger ms-2">
                    Revoke
                </button>
                <small th:errors="${selectedRole.name}"
                     class="invalid-feedback text-danger"
                >
                    errors
                </small>
            </form>
        </div>

        <div class="bg-light rounded-4 p-3 mb-3">
            <h5 th:text="${userRecipes.isEmpty()} ? 'User has not posted any recipes.' : 'User Recipes:'">
                User Recipes:

            </h5>

            <th:block th:each="r : ${userRecipes}"
                      th:object="${r}"
            >
                <div class="row mb-3">
                    <div class="col-10">
                        <span th:text="*{name}"
                              class="align-text-top"
                        >
                            Recipe name
                        </span>
                    </div>
                    <div class="col-2 text-center">
                        <a th:href="@{/recipes/{id}(id=*{id})}"
                           class="btn btn-primary btn-sm"
                        >
                            Details
                        </a>
                    </div>
                </div>

            </th:block>
        </div>
    </div>
    <!--    TODO: buttons edit/delete/approve-->
</div>


</body>
</html>